In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Shubarshi,48.5872,57.1869,44.38,70,100,6.04,KZ,2022-04-06 23:48:13
1,1,Dawson Creek,55.7666,-120.2362,46.04,17,0,4.61,CA,2022-04-06 23:48:14
2,2,Komsomolskiy,40.4272,71.7189,61.52,44,31,9.22,UZ,2022-04-06 23:48:14
3,3,Najran,17.4924,44.1277,66.85,11,0,3.13,SA,2022-04-06 23:48:14
4,4,Bethel,41.3712,-73.4140,50.36,85,100,13.80,US,2022-04-06 23:48:15

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=abs(max_temp))
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))