In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Leningradskiy,69.3833,178.4167,1.40,87,62,13.78,RU,2022-04-13 04:38:36
1,1,Mandalgovi,45.7625,106.2708,33.73,41,80,8.86,MN,2022-04-13 04:38:36
2,2,Padang,-0.9492,100.3543,87.85,63,34,6.64,ID,2022-04-13 04:38:36
3,3,Kruisfontein,-34.0033,24.7314,63.14,70,19,3.67,ZA,2022-04-13 04:38:37
4,4,Bathsheba,13.2167,-59.5167,79.41,78,40,16.11,BB,2022-04-13 04:38:37

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, 
                                dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Padang,-0.9492,100.3543,87.85,63,34,6.64,ID,2022-04-13 04:38:36
4,4,Bathsheba,13.2167,-59.5167,79.41,78,40,16.11,BB,2022-04-13 04:38:37
16,16,Rikitea,-23.1203,-134.9692,78.93,72,12,21.85,PF,2022-04-13 04:38:42
24,24,Soe,-9.8607,124.2840,78.85,62,80,6.93,ID,2022-04-13 04:38:45
27,27,Vaini,-21.2000,-175.2000,82.56,78,20,6.91,TO,2022-04-13 04:38:46
28,28,Faanui,-16.4833,-151.7500,82.31,72,16,14.45,PF,2022-04-13 04:38:47
35,35,Salalah,17.0151,54.0924,80.69,83,20,4.61,OM,2022-04-13 04:38:50
41,41,Kupang,-10.1667,123.5833,86.34,64,39,9.44,ID,2022-04-13 04:38:53
42,42,San Patricio,28.0170,-97.5169,76.89,90,29,17.38,US,2022-04-13 04:38:54
44,44,Dingle,10.9995,122.6711,80.11,77,100,3.04,PH,2022-04-13 04:38:54

In [21]:
preferred_cities_df.count()

City_ID       155
City          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
Country       155
Date          155
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Padang      ID     87.85  -0.9492  100.3543
4      Bathsheba      BB     79.41  13.2167  -59.5167
16       Rikitea      PF     78.93 -23.1203 -134.9692
24           Soe      ID     78.85  -9.8607  124.2840
27         Vaini      TO     82.56 -21.2000 -175.2000
28        Faanui      PF     82.31 -16.4833 -151.7500
35       Salalah      OM     80.69  17.0151   54.0924
41        Kupang      ID     86.34 -10.1667  123.5833
42  San Patricio      US     76.89  28.0170  -97.5169
44        Dingle      PH     80.11  10.9995  122.6711