## Deliverable 3. Create a Travel Itinerary Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Takoradi,GH,80.58,broken clouds,4.8845,-1.7554,Raybow International Hotel
1,6,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
2,7,Xuddur,SO,83.55,overcast clouds,4.1213,43.8894,Banjanay Hotel
3,10,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
4,11,Bambous Virieux,MU,75.45,light intensity shower rain,-20.3428,57.7575,Casa Tia Villa

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
new_dataframe = pd.DataFrame(locations)
new_dataframe

         Lat       Lng
0     4.8845   -1.7554
1     5.4112  100.3354
2     4.1213   43.8894
3   -22.9661  -42.0278
4   -20.3428   57.7575
..       ...       ...
197 -22.8833  -43.1036
198 -23.8597   35.3472
199  -1.4558  -48.5044
200 -18.5933  -39.7322
201  10.6678  -63.2585

[202 rows x 2 columns]

In [31]:
# 4a. Add a marker layer for each city to the map.
locations = new_dataframe
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Humaita"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Humaita"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Pedro Ii"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Vila Velha"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "San Juan"]

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, 
                                           waypoints = [stop1, stop2, stop3],
                                           travel_mode = "DRIVING", stroke_color = 'red',
                                           stroke_weight = 3.0, stroke_opacity = 1.0)

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,64,Humaita,BR,88.36,overcast clouds,-7.5061,-63.0208,Corrêa Hotel
1,64,Humaita,BR,88.36,overcast clouds,-7.5061,-63.0208,Corrêa Hotel
2,299,Pedro Ii,BR,76.73,overcast clouds,-4.4247,-41.4586,Opala Hotel
3,519,Vila Velha,BR,78.75,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
4,431,San Juan,AR,77.11,clear sky,-31.5375,-68.5364,Hotel Provincial

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (-20, -50.0), zoom_level = 3.2)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))